# Isolate sandboxed build and test actions from each other.
# Fixes https://github.com/bazelbuild/bazel/issues/3236.
build --sandbox_tmpfs_path=/tmp

build --incompatible_strict_action_env

# Required for layering_check.
build:layering_check --repo_env=CC=clang
build:layering_check --features=layering_check

# Requires Bazel 5.
build:bzlmod --experimental_enable_bzlmod
